<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
  </head>
  <body ng-controller="AddPostCtrl">
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="#">Home</a>
          <a class="blog-nav-item active" href="addPost.html">Add Post</a>
        </nav>
      </div>
    </div>
    <style media="screen">
      .ql-editor {
            height: 200px;
          }
    </style>

  <!-- /.container -->


  <form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend><h2 class="text-center">Publicar Articulo</h2></legend>

  <!-- Title input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Name">Titulo</label>
    <div class="col-md-4">
    <input id="txtTitle" ng-model="article.title" name="txtTitle" type="text" placeholder="Titulo del Articulo" class="form-control input-md">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Email">Extracto</label>
    <div class="col-md-4">
    <input id="txtExtract" ng-model="article.extract" name="text" placeholder="Descripcion Previa del Articulo" class="form-control input-md" type="text">
    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Message">Articulo</label>
    <div class="col-md-4">
      <ng-quill-editor ng-model="article.post" id="txtPost" name="txtPost" rows="8" cols="80"></ng-quill-editor>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="Message">Imagen de Portada</label>
    <div class="col-md-4">
    <input type='file' ng-model='article.imageurl' multiple accept="image/*, .zip" require base-sixty-four-input>
    </div>
  </div>
  <div class="form-group" ng-hide="article.imageurl == null">
    <label class="col-md-4 control-label" for="Message">Previo</label>
    <div class="col-md-4">
      <img data-ng-src="data:image/png;base64,{{article.imageurl[0].base64}}" data-err-src="images/png/avatar.png" class="img-rounded" alt="Cinque Terre" width="100%"/>
    </div>
  </div>
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Send"></label>
    <div class="col-md-4">
      <input id="singlebutton" ng-click="AddPost()" ng-disabled="!article.title || !article.post || !article.extract || !article.imageurl" name="singlebutton" class="btn btn-info" type="submit" value="Publicar" />
    </div>
  </div>

  </fieldset>
  </form>

    <div class="blog-footer">
      <p>AngularJS & Firebase Blog App</p>
    </div>
  </body>
</html>
